<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <style>
        .main {
            margin: 0 auto;
        }

        body {
            background-image: url('https://id.utop.vn/img/image-desktop.png');
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: left bottom;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h5 class="text-desc text-center ">
                Forgot Password
            </h5>
            <hr>
        </div>
        <div class="main col-md-6 mt-3">
            <div class="card">
                <div class="card-body">

                    <div th:if="${error != null}">
                        <p class="text-danger">[[${error}]]</p>
                    </div>
                    <div th:if="${message != null}">
                        <p class="text-warning">[[${message}]]</p>
                    </div>

                    <form id="forgotPasswordForm" th:action="@{/forgotPassword}"  th:object="${user}"
                          method="POST">
                        <div>
                            <p>We will be sending a reset password link to your email.</p>
                        </div>
                        <div>
                            <p>
                                <input type="email" name="email" id="email" class="form-control"
                                       placeholder="Enter your e-mail" required autofocus/>
                            </p>
                            <p class="text-center">
                                <input type="submit" class="btn btn-primary" value="Send"/>
                            </p>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>