<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <style>
        .main {
            margin: 0 auto;
        }

        body {
            background-image: url('https://id.utop.vn/img/image-desktop.png');
            background-repeat: no-repeat;
            background-size: 40%;
            background-position: left bottom;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <h5 class="text-desc text-center ">
                Reset Password
            </h5>
            <hr>
        </div>
        <div class="main col-md-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{/resetPassword}" method="POST" style="max-width: 350px; margin: 0 auto;">
                        <input type="hidden" name="token" th:value="${token}"/>
                        <div>
                            <p>
                                <input type="password" name="password" id="password" class="form-control"
                                       placeholder="Enter your new password" required autofocus/>
                            </p>
                            <p>
                                <input type="password" class="form-control" placeholder="Confirm your new password"
                                       required oninput="checkPasswordMatch(this);"/>
                            </p>
                            <p class="text-center">
                                <input type="submit" value="Change Password" class="btn btn-primary"/>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function checkPasswordMatch(fieldConfirmPassword) {
        var password = document.getElementById("password").value;
        var confirmPassword = fieldConfirmPassword.value;
        if (confirmPassword !== password) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>

</body>

</html>